
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(135deg, #71b7e6, #9b59b6);
	background-image: url(https://img.freepik.com/free-vector/e-learning-education-template-vector-technology-ad-banner_53876-125996.jpg);
	background-size:cover;
}

.login-box {
	width: 350px;
	padding: 15px 30px;
	background:transparent;
	border-radius: 5px;
}
.textbox{
	background-color: transparent;
}

.login-box h2 {
	text-align: center;
	margin-bottom: 20px;
	color: black;
}